<template>
  <div>
    <VBoilerplate boilerplate elevation="4" type="table"/>
  </div>
</template>

<script>
import VBoilerplate from '@/components/VBoilerplate'

export default {
  components: {
    VBoilerplate
  }
};
</script>

<style>
</style>
